@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Thai:wght@100..800&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Playpen Sans Thai", cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: grey;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 8vw;
}

header p {
    padding-bottom: 50px;
    font-size: 1.6vw;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
    background-color: white;
    color: black;
    padding: 3px;
    border-radius: 5px;
    transition-duration: 0.6s;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-weight: 500;
    font-size: 3vw;
}

section p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(39, 39, 39);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.486);
    background-attachment: fixed;
}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 15px;
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px 3px black;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.568);
}

section#img1 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img2 {
    background-image: url(imagens/background002.jpg);
    background-position: right bottom;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}